.stage-cube-cont {
  width: 50%;
  height: 100%;
  top: 20px;
  padding-top: 18%;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);

  div {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.4);
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px lightyellow;
  }

  .face1 {
    transform: translateZ(100px);
  }
  .face2 {
    transform: rotateY(89deg) translateZ(100px);
  }
  .face3 {
    transform: rotateY(89deg) rotateX(89deg) translateZ(100px);
  }
  .face4 {
    transform: rotateY(179deg) rotateZ(89deg) translateZ(100px);
  }
  .face5 {
    transform: rotateY(-89deg) rotateZ(89deg) translateZ(100px);
  }
  .face6 {
    transform: rotateX(-89deg) translateZ(100px);
  }
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-89deg) rotateZ(89deg);
  }
  33% {
    transform: rotateY(-89deg) rotateX(89deg);
  }
  50% {
    transform: rotateY(-179deg) rotateZ(89deg);
  }
  66% {
    transform: rotateY(-269deg) rotateX(89deg);
  }
  83% {
    transform: rotateX(89deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}

@media screen and (max-width: 900px) {
  .stage-cube-cont {
    position: relative;
    width: 100%;
    height: 445px;
  }
}