.contact-form {
  width: 100%;
  margin-top: 20px;
  
  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      overflow: hidden;
      display: block;
      position: relative;
      opacity: 0;
      animation: fadeInUp 2s 2s forwards;
      clear: both;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    border-radius: 10px;
    background: #265772;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    border: 0;
    border-radius: 10px;
    background: #265772;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    min-height: 150px;
    box-sizing: border-box;
  }

  .flat-button {
    color: #e8c289;
    background: 0 0;
    font-size: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #e8c289;
    float: right;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background: #e8c289;
      color: #333;
    }

  }
}

.info-map {
  position: absolute;
  background-color: #181818;
  border-radius: 2rem;
  top: 20px;
  right: 20px;
  z-index: 999999;
  width: fit-content;
  padding: 20px;
  color: #fff;
  font-family: 'Helvetica';
  font-size: 17px;
  font-weight: 300;
  opacity: 0;
  animation: fadeIn 1s 1.5s forwards;

  span {
    font-size: 16px;
    display: block;
    padding-top: 20px;
    color: #e8c289;
  }
}

.map-wrap {
  background: rgba(8, 253, 216, 0.1);
  float: right;
  width: 53%;
  height: 100%;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0;
  animation: backInRight 1s 1.2s forwards;
  ;
}


@media screen and (max-width: 900px) {
  .map-wrap {
    float: none;
    width: 100%;
    height: 400px;
    margin: 0;
  }

  .info-map {
    position: inherit;
    margin-top: -30px;
    margin-left: 20px;
  }
}